logs
project/project
project/target
target
tmp
.history
bower_components
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
node_modules
.DS_Store
*.ipr 
*.iws
.sass-cache
shsh
conf/prod.conf
conf/stage.conf
