@()

<section class="policy-policy">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h5>Version 1 Date: August 7th, 2017.</h5>
				<p>This is the Privacy Policy and Cookie Statement of the website <a href="@routes.PublicCtrl.index">fullstackfounderfactory.com</a> 
				and all related services, including but not limited to email communication and 

				web/mobile applications. This Privacy Policy and Cookie Statement provides 

				information on the processing of personal data of the visitors (Users) of the 

				Website (<a style="margin: 0;" href="@routes.PublicCtrl.index">fullstackfounderfactory.com</a>) and all related services by '@utilities.Constants.name, LLC' based at PO BOX 713, New York, 

				NY 10024, known throughout this document as FFF.</p>
				<p>This Privacy Policy and Cookie Statement may be changed over time. Users of 

				the Website are advised to regularly review the Privacy Policy and Cookie 

				Statement for possible changes.</p>

				<p>1. This Privacy Policy and Cookie Statement is applicable to the processing

				of all personal data of Users through the Website and all related services by FFF.<br>

				2. FFF is the controller for the processing of your personal data.<br>

				3. FFF processes your personal data for the technical and functional 

				management and analysis of the Website and related services.<br>

				4. When you visit our Website or interact with related services, the purpose 

				of processing your data is to process a number of technical details associated 

				with the use of the Website, so that we can provide its functionalities and 

				generate usage statistics. These data allow us to manage the Website and 

				related services, for instance by resolving any technical faults or improving 

				accessibility to certain parts of the Website. In turn, this allows us to ensure that 

				you can reach the information on the Website and in related services quickly and 

				easily. We also use cookies for this purpose. See information about cookies in 

				point 12.<br>

				5. For the purpose contained in point 4 we process technical data such as 

				the IP address of your computer, the sites of our Website and related services 

				you visit, the internet browser you are using, previous/subsequent Website you 

				visit and the duration of a visit or session.<br>

				6. We retain technical data for a maximum period of 3 years for this 

				purpose.<br>

				7. When you contact FFF using our contact form, email address, phone 

				numbers or sign up form we process your personal data for the purpose of 

				replying to your inquiries.<br>
				8. For the purpose contained in point 7, FFF processes your name, 

				contact details, your correspondence with FFF about your inquiries and all 

				other personal data you provide to us and which are necessary to answer your 

				inquiries.<br>

				9. It’s not determined when data contained in point 8 will be deleted. <br>

				10. <b>FFF does not share your personal data with third parties, except with those that you authorize and when 

				required by law. Seriously. We do not share any of your data, including with customers, except when explicitly authorized by you.</b><br>

				11. FFF is allowed to use personal data that is collected by the use of the 

				website <a href="@routes.PublicCtrl.index">fullstackfounderfactory.com</a> and related services in anonymized and aggregated manner for research and commercial purposes. <br>

				12. The Website uses cookies. These are small text files, which your Internet 

				browser automatically places on the computer. Cookies are used to assist in 

				collecting information associated with the use of the website, such as which web 

				pages are visited and the duration of a user session. <br>
				13. You may find a number of links to other websites on the Website. 

				Although we have selected these websites carefully, we are not responsible for 

				processing of your personal data via these websites. FFF’s Terms and 

				Conditions and this Privacy Policy and Cookie Statement do not apply to the use 

				of such websites. If you opt to share content of this Website (for example a blog 

				post) via social media websites, the use of such websites is covered exclusively 

				by the terms and conditions (including the privacy policy) of the social media 

				websites. FFF is not responsible for the data processing or privacy policies on 

				such social media websites and FFF’s Terms and Conditions and this Privacy 

				Policy and Cookie Statement do not apply to the use of such websites. <br>

				14. Your personal data will be treated confidentially and FFF takes 

				appropriate technical and organizational security measures against its loss or 

				unlawful processing.<br>

				15. You are entitled at any time to request access, correction or removal of 

				your personal data processed by FFF. Please send your request and other 

				questions you may have to <a href="@utilities.Constants.email">@utilities.Constants.email</a>.</p>
			</div>
		</div>
	</div>
</section>