@()

<section class="details" id="details">
	<div class="container">
		<div class="row ">
			<div class="text-center">
				<h1>The Details</h1>
			</div>
			<div class="col-ms-6 col-ms-offset-3 text-left">
				<h2>Sep 17th - Nov 11th</h2>
				<h3>next session (timing updated)</h3>	
				<h4 class="col-sm-8 nopad">the program takes place in NYC</h4>
				@*<h4 class="col-sm-8 nopad">applications due by end of day August 25th</h4>*@
			</div>
			<div class="col-ms-6 col-ms-offset-3 text-right">
				<h2>6 - 8</h2>
				<h3>students per session</h3>
				<h4 class="marleft">small class sizes ensure each student gets a highly personalized learning experience</h4>
			</div>
			<div class="col-ms-6 col-ms-offset-3 text-left">
				<h2>$3,500</h2>
				<h3>tuition per student</h3>			
				<h4>due upon acceptance</h4>
			</div>
			
		</div>
	</div>
</section>