@()

<section class="pitch">
	<div id="anchorPitch" class="anchorPitch"></div>
	<div class="container">		
		<div class="row">
			<div class="col-ms-12">
				<div class="titleleft">
					<h1>Where do I start?</h1>
				</div>
				<div class="textleft">
					<p>There's a thousand programming languages, a million developer tools, and an infinite amount of tutorials and online guides to coding. But what do you <b>actually need to know to start prototyping your ideas?</b></p>
						
					<p>@utilities.Constants.name is all about teaching you just enough in each part of the stack so that you feel comfortable starting your coding journey and learning more as you go.</p>
					
					<p><b>Other coding schools want to get you hooked on their classes. The goal here is to get you working on your own projects as quickly as possible and make you a self-sufficient self-learner of coding for the future.</b></p>
				</div>
			</div>
		</div>
		
		<hr style="width: 100%">
		
		<div class="row texttop">
			<div class="col-ms-12">
				<div class="titleright">
					<h1>Who is this program for?</h1>
				</div>
				<div class="textright">
					<p>You have an idea (or tons of ideas) that <b>you're dying to build</b>. You don't want to outsource your project because you know that <b>if you want to get something done right, you have to do it yourself</b>.
					</p>
					<p>You are a <b>fast learner, hard-working, and don't give up easily</b>. You are ready to <b>devote the time</b> to learn how to build your own product and then continue to grow your skills.
						<br><br> <span class="button-pitch">If this sounds like you, then <b>@utilities.Constants.name is where you need to be.</b></span></p>
				</div>
			</div>
		</div>
		

		
	</div>
	<hr style="width: 100%">
</section>