@()
<section id="instructor" class="instructor">
	<div class="container">
		<div class="row">
			<div class="col-ms-12">
				<div class="titleleft">
					<h1>Your Instructor</h1>
				</div>
				<div class="col-sm-6 centerwhensmall">
					<img src="@routes.Assets.at("/img/ilyaprofile.jpg")">
				</div>
				<div class="col-sm-6">
					<h2 class="centerwhensmall">Ilya Usorov</h2>
					<p>Ilya started the @utilities.Constants.name so he could share with others the ability to bring products to life. A little over 2 years ago, Ilya co-founded the tech startup <a href="https://day100.me" target="_blank" style="text-decoration: none;" class="orahover"><b>day100</b></a> and didn't know how to code. Working with contractors wasn't panning out, so Ilya became <b>determined to figure out how to learn to code himself.</b></p>
					
					<p>Recently, while reflecting on the experience of being a <b>self-taught fullstack founder</b>, Ilya saw the potential to also help founders and founders-to-be get the skills and knowledge they need to be able to <b>start working on their dreams</b> as full stack founders.</p>
				</div>
			</div>
		</div>
	</div>
</section>