@()

<section class="stage" id="stage">
	<div class="container">
		<h1 style="display: inline-block;">An 8-week program meeting on evenings and weekends to teach you the basics of full stack development so you can start working on your dreams</h1>
		<div> 
			<a class="btn btn-primary" href="@routes.PublicCtrl.apply">
				Apply
			</a> 
			<a class="btn btn-empty-primary" href="https://learn-to-code.fullstackfounderfactory.com">
				Take a snarky quiz
			</a> 
		</div>
		<div class="text-center"> 
			<a href="#anchorPitch"><img class="arrowdown" src="@routes.Assets.at("/img/newlp/arrowdown.svg")"></a>
		</div>
	</div>
</section>