@(formType: String = "edit")(implicit messages: play.api.i18n.Messages)

@import common_components._
@import common_components.form_components._
@import views.html.common_components.form_components.wrapper_complete_company

<div>
@panel(Messages("user.secret.title")){
  @if(formType=="edit"){<p>@Messages("user.secret.description") or <a ng-click="loginasuser(value.permission_id)">Login as this user</a></p>}


  @common_components.alert("user.secret.success")

  <p class="alert alert-danger" ng-if="error['']" ng-repeat="e in error['']">{{e}}</p>

  <form role="form" @if(formType == "edit"){ng-submit="update()"}else{ng-submit="update2()"}>
  @wrapper_complete("username"){@input("username")}
	  

  @wrapper_complete_company("company_id"){@select("company_id", "companies")}
@if(formType=="edit"){
	@wrapper_complete("status", Seq('label -> "User Status")){@select("status_id", "status")}
	  
    @wrapper_complete("key"){@input("key")}
  }
  <button type="submit" class="btn btn-primary" value="@Messages("edit")">@common_components.glyph("ok")</button>
  </form> 
}
</div>