@(title_id: Long,
css_files:   Seq[String]= Seq(),
js_files:    Seq[String]= Seq(),
ang_modules: Seq[String] = Seq())(content: Html)(implicit messages: Messages)

@wrapperMin(title_id, css_files, js_files, ang_modules){

  <div id="wrapper">

    @navbar(title_id)

    <div id="page-wrapper" class="gray-bg">

      @header1(title_id)
      @header2(title_id)


      <div class="wrapper wrapper-content">
        <div class="row">
          @content
        </div>
      </div>
      
      <br>

      @footer()

    </div>
  </div>
  @jsInclude()
}