@(n: Newsletter)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=3DUTF-8" />
	<title>Thank you for signing up to updates from @utilities.Constants.name</title>
</head>
<body bgcolor="#FFFFFF">
	<center>
		<table>
			<tr>
				<td width='100%' height='100%' bgcolor='#FFFFFF'>
				<table width="650px" cellpadding="0" cellspacing="0">
				<tr></tr>
				<tr>
					<br> 
					<img src="@(utilities.Constants.url+routes.Assets.at("img/people-coffee-notes-tea-min.jpg"))" style="width:650px;">
					<br>
				</tr>
				<tr>       
					<center>
						<table width="650px" align="center">
							<tr>
								<td>
									<p><font face="Verdana, Geneva, sans-serif" size="4" color="#000000">Welcome @n.email,</font></p> <br>
									<p><font face="Verdana, Geneva, sans-serif" size="4" color="#000000">Thank you for signing up to get updates from @utilities.Constants.name.</font></p>
									<p><font face="Verdana, Geneva, sans-serif" size="4" color="#000000">Please confirm that you indeed wish to receive updates from us by clicking 
									<a href="@(utilities.Constants.url+routes.NewsletterCtrl.changeStatus(n.id.get, n.key))">
									<font size="4" face="Verdana, Geneva, sans-serif">here.</font>
									</a>
									</font>
									</p>
									<br>  
									<p><font face="Verdana, Geneva, sans-serif" size="4" color="#000000"> Best, <br>the @utilities.Constants.name team</font></p>
								</td>
							</tr>
						</table>
					</center>
				</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td width="705px" height="119px" valign="top" background="img/footer.gif" style="padding: 0; margin: 0;">
					<center>
						<table width="650px" align="center" cellpadding="0" cellspacing="0" style="vertical-align: top;">
							<tr><td height="15px"></td></tr>
							<tr>
								<td>
									<p><font face="Verdana, Geneva, sans-serif" color="#000000" size="-1">You received this e-mail because your email address was submitted to us for the purpose of receiving updates from @utilities.Constants.name. If you think you should not have received this e-mail, please email us at <a href="mailto:@utilities.Constants.email">@utilities.Constants.email</a> so that we can remove you from our mailing list.</font></p>
								</td>
							</tr>
						</table>
					</center>
				</td>
			</tr>
		</table>
	</center>
</body>
</html>