@(id: Long, key: String, username: String = "", name: String)

@email_templates.layout.headInline()

Hi @name,<br><br>

You recently requested a password reset for your @utilities.Constants.name account. To complete the process, click the Reset password now button below.<br><br>

<a href="@(utilities.Constants.url+routes.LoginCtrl.passwordResetForm(id, key))">Reset password now</a><br><br>

If you didn't make this request, please ignore this message. Your account is secure and your password will not be reset.<br><br>

Thanks,<br>
@utilities.Constants.name Support

@email_templates.layout.footerInline()