@(first_name: String)

Hey @first_name,
<br><br>
Thanks for submitting your application for the next session of the @utilities.Constants.name. This is automated email, but it nevertheless confirms that your application was received. As promised, you should be getting an actual email from me in the next 24 hours.
<br><br>
In the meantime, take a minute to reflect on all the features you were exposed to as you went through the @utilities.Constants.name website and the application form - floating navigation bars, custom modals (like a pop up but not a separate browser window), form validation, constantly saving data which syncs to the database, various types of input fields and more. 
<br><br>
And this is not enough half the functionality I want you to be able to have control over, after you go through the @utilities.Constants.name program. I hope you're excited about the journey that's to come!
<br><br>
If you have any other questions before I respond, just reply to this email and I'll answer them when I get back to you.
<br><br>
Talk soon,
<br>
Ilya
<br>

<hr>

<br>
<a href="@(utilities.Constants.url+routes.PublicCtrl.faqHtml())" target="_blank" >
<center>Questions? Read the FAQs</center>
</a>

<br> 
<center> Sent to you by <a href="@utilities.Constants.urlWoPrefix" target="_blank">@utilities.Constants.name</a></center>
<center>Are you ready to get building?</center>